[Unit]
Description=Test target for lab01
Requires=graphical.target
Wants=helloworld.service
After=graphical.target

[Install]
WantedBy=graphical.target
