[Unit]
Description=Test service for lab01
After=graphical.target

[Service]
ExecStart=/home/student/Documents/lab01/helloworld.sh
#RemainAfterExit=yes
Restart=on-success
RestartSec=2
StartLimitIntervalSec=0

[Install]
WantedBy=helloworld.target
